body {
    background-color: #1c1b1b;
    color: #e7e0e0;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#game-container {
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
canvas {
    background-color: #0a0a0a;
    border: 2px solid #323131;
    display: block;
}
#ui-layer {
    position: absolute;
    top: 20px;
    left: 20px;
    pointer-events: none;
}
h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
p {
    margin: 5px 0;
    font-size: 14px;
    color: #969292;
}
#score-display {
    font-size: 20px;
    color: rgb(14, 223, 223);
    text-shadow: 0 0 10px rgb(0, 255, 255);
    margin-top: 10px;
}